input {
    padding: 0;
    display: block;
    width: 90%;
    margin: auto;
}

input[type=text] {
    margin-bottom: 20px;
    padding: 10px;
}

fieldset {
    padding: 10px;
}

#meme-image-container {
    border: 1px solid black;
    background-color: white;
    display: block;
    width: fit-content;
    position: absolutes;
}

#fire {
    background-color: red;
}

#water {
    background-color: blue;
}

#earth {
    background-color: green;
}

#meme-image {
    position: relative;
}

#meme-text {
    position: inherit;
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding: 0;
}